*{
    background: blueviolet;
    color: white;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size:50px;
}

.container{
    margin: 50px;
}

.favorites{
    height: 400px;
    width: 400px;
}

#img-0{
    display:flex;
    justify-content: end;
}

#img-1{
    display:flex;
    justify-content: start;
}

#img-2{
    display:flex;
    justify-content: end;
}

#img-3{
    display:flex;
    justify-content: start;
}

li{
    list-style-type: none;
}